/** COUPON CARD */
.card-card {
    --ion-card-color: #000000;
}

@media (prefers-color-scheme: dark) {
    .card-card {
        --ion-card-color: #FFFFFF;
    }
}

/* CARD HEADER */
.card-card-header {
    justify-content: flex-end;
    align-items: baseline;
    flex-direction: row;
}

.card-card-header-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 24px;
    font-weight: 700;
}

.card-card-barcode {
    display: flex;
    justify-content: center;
    width: 100%;
    background: white;
    border-radius: 5px;
    margin-top: 10px;
}

.card-card-barcode svg {
    width: 100%;
}