/** COUPON CARD */
.coupon-card {
    --ion-card-color: #000000;
}

@media (prefers-color-scheme: dark) {
    .coupon-card {
        --ion-card-color: #FFFFFF;
    }
}

/* CARD HEADER */
.coupon-card-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.coupon-card-header-points {
    max-width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 22px;
}

.coupon-card-header-partner {
    max-width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 24px;
    font-weight: 700;
}

/* CARD CONTENT */
.coupon-card-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px 0;
}

.coupon-card-valid-till {
    margin-top: 15px;
    text-align: right;
}

.coupon-card-condition,
.coupon-card-source {
    text-align: left;
}

.coupon-card-source {
    flex-basis: 100%;
    margin-top: 5px;
    font-size: 12px;
}

.coupon-card-barcode {
     width: 100%;
     background: white;
     border-radius: 5px;
     margin-top: 10px;
}

.coupon-card-barcode svg {
    width: 100%;
}