.input-field {
    --border-radius: 4px;
    margin: .5em 0;
    border: 1px solid var(--ion-color-step-200);
    border-radius: var(--border-radius);
}

.input-field input {
    --padding-x: 0.25em;
    --padding-start: var(--padding-x);
    --padding-end: var(--padding-x);
}

.ios .input-field {
    --border-radius: 10px;
}

.ios .input-field input {
    --padding-x: 0.75em;
}

.input-field.has-error {
    border-color: var(--ion-color-danger);
    --placeholder-color: var(--ion-color-danger);
}
