.watchlist-slide-list {
    width: 100%;
    height: calc(100% - 70px);
    padding-bottom: 40px;
}

.swiper-slide.watchlist-slide {
    display: flex;
    padding-bottom: 30px;
    flex-direction: column;
    justify-content: center;
}